#boxes .container img {
	width: 60px;
}

[contacts] span {
	font-weight: bold;
}
/*SEARCH within the website*/
/*
.search-container form {
	display: inline;
	float: right;
}

.search-container input {
	height: 35px;
}
.search-container button {
	width: 45px;
	height: 35px;
}
*/
@media screen and (max-width: 768px) {

 }