body {
	padding: 0;
	font-size: 17px;
	background: url('../img/bg.png') repeat;
	line-height: 1.5;
}

/* GLOBAL */
* {box-sizing: border-box;}

.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

header .container {
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
}

/* HEADER */
header {
	background: #ffffff;
	color: #000000;
	padding-top: 30px;
	min-height: 70px;
}


/*
Move the branding div to the left
*/

header #branding {
	position: top;
	display: inline;
	text-align: center;
	margin: 0;
	padding: 0;
	
}

header #branding img {
	float: left;
}

header #branding [slogan] {
	float: left;
	
}

header #branding h1 {
	text-shadow: 2px 2px #111111;
	color: #646499;
}

header #branding p {
	font-size: 24px;
	font-weight: 600;
	text-shadow: 2px 2px #111111;
	color: #cccccc;
}

header #branding img {
	height: 70px;
	width: 70px;
	margin: 0 0 10px 0;
}

header #branding h1 {
	margin: auto;
	padding: 0 30px 0 30px;
	text-align: center;
	float: left;
}

header #branding p {
	margin: 0 auto;
	padding-bottom: 10px; 
}


/* 
*******SHOWCASE*********
************************
- Backgound has image:
		- covers full width
		- no repeat
- Align text to center
- Specified minimum height
- Image has transparent text(using color opacity)
*/
#showcase {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 560px;
	color: #111;
	position: relative;
	font-size: 24px;

	/*Animation: images sliding from the background*/
	overflow: hidden;
	background-position: center center;
	background-attachment: fixed;
	background-visibility: hidden;
	animation: slideBg 100s infinite;
	animation-timing-function: ease-in-out;
	background: url('../img/slide-5.jpg');
}
@keyframes slideBg {
	0%, 100% {
		background: url('../img/slider/pic1.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	12.5% {
		background: url('../img/slider/pic2.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	25% {
		background: url('../img/slider/pic3.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	37.5% {
		background: url('../img/slider/pic4.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	50% {
		background: url('../img/slider/pic5.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	62.5% {
		background: url('../img/slider/pic6.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	75% {
		background: url('../img/slider/pic7.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	87.5% {
		background: url('../img/slider/pic8.jpg');
		background-size: cover;
		background-position: center center;
		
	}
	100% {
		background: url('../img/slider/pic5.jpg');
		background-size: cover;
		background-position: center center;
		
	}
}


#showcase h3 {
	line-height: 1.5; 
	text-shadow: 2px 2px #111;
}

#showcase .container {
	position: absolute;
  	bottom: 0;
  	top: 0;
  	background: rgba(0, 0, 0, 0.3); /* Black background with 0.3 opacity */
  	color: #f1f1f1;
  	width: 100%;
  	padding: 20px;
}


/*Boxes for displaying vision, mission and motto */
#boxes {
	margin: 0 auto;
}
#boxes .container {
	
	min-height: 550px;
	margin-top: 8px;
	margin-bottom: 0;
}

#boxes .box {
	width: 45%;
	margin: 50px 25px;
	min-height: 280px;
	border-radius: 5px;
	box-shadow: #ccc 4px 4px 4px 4px;
	float: left;
	background: #fff;
}

#boxes [core-values] {
	padding-left: 30px;
}

.box h1, .box p, .box ul {
	margin: 0 auto;
	padding: 16px 20px;
	text-align: left;

}

/*Contacts*/
.contacts p span {
	font-weight: bold;
}

/*
*****BOTTOM & FOOTER******
**************************
*/
#bottom, footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 18px;
}

#bottom {
	min-height: 300px;
	background: #ddd;
}

footer {
	min-height: 250px;
	background: #ccc;
}

#bottom .socialmedia {
	padding: 15px;
}

#bottom img {
	width: 50px;
}

#bottom img:hover {
	width: 55px;
}

/*DOWNLOADS PAGE*/
#download-content a{
	text-decoration: unset;
}


/*ABOUT PAGE*/

[contacts] h1{
	font-size: 16px;
	color: #000087;
}
[contacts] p {
	text-align: justify;
	font-size: 15px;
}


/*
******MAKE DESIGN RESPONSIVE*********
*************************************
*/
@media screen and (max-width: 800px) {
	header #branding img, 
	header #branding [slogan], 
	#branding h1, 
	#boxes .box {
	    float: none;
	    display: block;
	    margin: 0 auto;
	}

	header #branding,
	#showcase {
		line-height: 1.2;
		font-size: 22px;
		width: 100%;
	}

	header #branding h1 {
		width: 100%;
		margin: auto;
		font-size: 35px;
	}

	#showcase h1 {
		margin: 0 auto;
		padding: 0 2px;
		font-size: 25px;
	}


	#boxes .container {
		background: none;
	}

	#boxes .box h1 {
		text-align: center;
		color: #646499;
		margin: 0 auto;
		padding: 6px 8px 8px 4px;
	}
	#boxes .box p{
		margin: 0 auto;
		padding: 6px 8px 8px 12px;
	}

	#boxes .box {
		margin: 20px auto;
		width: 95%;
		box-shadow: gray 2px 2px 2px 2px;
		border-radius: 20px;
	}

	#showcase {
	 	width: 100%;
	 	background-size: cover;
	 	animation: none;
	 	background: url('../img/slider/pic8.jpg') no-repeat;
	 	background-position: center center;
  }
}