/* GLOBAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 17px;
	background: url('../img/bg.png') repeat;
	line-height: 1.5;
}


.container {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

header .container {
	margin: 0 auto;
}

ul {
	margin: 0;
	padding: 0;
}

/* HEADER */
header {
	background: #ffffff;
	color: #000000;
	padding-top: 30px;
	min-height: 70px;
}


/*
Move the branding div to the left
*/

header #branding {
	position: top;
	display: inline;
	text-align: center;
	margin: 0;
	padding: 0;
	
}

header #branding img {
	float: left;
}

header #branding [slogan] {
	float: left;
	
}

header #branding h1 {
	text-shadow: 2px 2px #111111;
	color: #646499;
}

header #branding p {
	font-size: 24px;
	font-weight: 600;
	text-shadow: 2px 2px #111111;
	color: #cccccc;
}

header #branding img {
	height: 70px;
	width: 70px;
	margin: 0 0 10px 0;
}

header #branding h1 {
	margin: auto;
	padding: 0 30px 0 30px;
	text-align: center;
	float: left;
}

header #branding p {
	margin: 0 auto;
	padding-bottom: 10px; 
}


/* 
*******SLIDESHOW*********
************************/

#banner {
	position: relative;
	top: 0px;
	width: 100%;
	height: 100vh;
	/*background-color: rgba(128,0,0,0.2);*/
}

/******************
Slide Show On Banner
*******************/
#banner .slideshow {
	position: relative;
	height: 100vh;
}
#banner .slideshow-img {
	position: absolute;
	top: -237px;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}

/*******************
Banner text
*******************/
#banner .brand-text {
	position: relative;
	z-index: 1;
}
#banner .products-cat {
	position: relative;
	top: -650px;
	font-size: 28px;
	color: #fff;
	font-family: sans-serif;
}
#banner .banner-header-text h1,
#banner .banner-header-text p {
	text-shadow: 4px 4px 4px #000;
	font-weight: bold;
	text-align: center;
	width: 80%;
	margin: 0 auto;
	line-height: 2.0;
	padding: 22px;
}
#banner .banner-header-text p > span {
	color: #d4d4d4;
	font-family: Courier New;
}
.banner .banner-header-text h1 {
	font-size: 48px;
	color: #ffd700;
}
.banner .banner-header-text a {
	border: 1px #444 solid;
	border-radius: 8px;
	background-color: rgba(0,0,0,0.3);
	padding: 12px 8px;
	box-shadow: 2px 4px 8px #111;
	text-decoration: none;
	color: #ffd700;
	font-family: verdana, sans-serif;
	text-transform: uppercase;
}
.banner .banner-header-text a:hover {
	background-color: rgb(1,1,1);
	color: #fff;
}

/**********************
Boxes for displaying 
departments
**************************/
#boxes {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
#boxes .container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 550px;
	margin-top: 8px;
	margin-bottom: 0;
}

#boxes .box {
	width: 45%;
	margin: 50px 25px;
	min-height: 280px;
	border-radius: 5px;
	box-shadow: #ccc 4px 4px 4px 4px;
	background: #fff;
}
#boxes .box img {
	width: 100%;
	margin: 0 auto;
	padding: 14px;
}

.box h1, .box p, .box ul, .box ol {
	margin: 0 auto;
	padding: 16px 20px;
	text-align: left;
}
.box ul > li, .box ol > li {
	list-style-position: inside;
	padding: 0 18px;
}
#boxes .department {
	width: 85%;
}
#boxes .department h1 {
	color: orange;
	font-size: 18px;
	text-transform: uppercase;
}
#boxes .department h2 {
	padding: 2px 18px;
	font-size: 17px;
	color: #333;
}
/*Contacts*/
.contacts p span {
	font-weight: bold;
}

/*
*****BOTTOM & FOOTER******
**************************
*/
#bottom, footer {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 18px;
}

#bottom {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	min-height: 300px;
	background: #ddd;
	background-color: #333;
	color: #fff;
}
#bottom div a {
	text-decoration: none;
	color: #fff;
	padding: 2px 8px;
}
#bottom div a:hover {
	background-color: #111;
	text-decoration: underline;
}
#bottom div {
	width: 24%;
	margin: 10px auto;
	padding: 8px 12px;
	text-align: left;
	background-color: #444;
}
#bottom div .bottomnav {
	background-color: none;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	width: 100%;
	line-height: 2.5;
}
footer {
	min-height: 150px;
	background: #111;
	color: #f4f4f4;
}

#bottom .socialmedia {
	padding: 15px;
}

#bottom img {
	width: 50px;
}
#bottom img:hover {
	width: 55px;
}

/*DOWNLOADS PAGE*/
#download-content a{
	text-decoration: unset;
}


/*ABOUT PAGE*/

[contacts] h1{
	font-size: 16px;
	color: #000087;
}
[contacts] p {
	text-align: justify;
	font-size: 15px;
}


/*
******MAKE DESIGN RESPONSIVE*********
*************************************
*/
@media screen and (max-width: 800px) {
	header #branding img, 
	header #branding [slogan], 
	#branding h1, 
	#boxes .box {
	    float: none;
	    display: block;
	    margin: 0 auto;
	}

	header #branding {
		line-height: 1.2;
		font-size: 22px;
		width: 100%;
	}

	header #branding h1 {
		width: 100%;
		margin: auto;
		font-size: 35px;
	}

	/******************
	slide show images
	***************/
	#banner .slideshow-img {
	position: absolute;
	top: -210px;
}


	/***********************
	text on banner
	************************/
	#banner .banner-header-text h1,
	#banner .banner-header-text p {
		width: 70%;
	}
	.banner .banner-header-text h1 {
		font-size: 28px;
	}
	.banner .banner-header-text a {
		
		padding: 12px 8px;
	}
	#banner .products-cat {
		font-size: 18px;

	}


	/*************************/
	#boxes .container {
		background: none;
	}
	#boxes .box h1 {
		text-align: center;
		color: #646499;
		margin: 0 auto;
		padding: 6px 8px 8px 4px;
	}
	#boxes .box p{
		margin: 0 auto;
		padding: 6px 8px 8px 12px;
	}
	#boxes .box {
		margin: 20px auto;
		width: 95%;
		box-shadow: gray 2px 2px 2px 2px;
		border-radius: 20px;
	}

	/*******************/
	#bottom {
		flex-direction: column;
	}
	#bottom .bottom-box {
		width: 90%;
	}
}