<!DOCTYPE html>
<html>
<head>
	<title>Kiptaragon TVC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Technical and vocational institution offering skill development for self reliance, Nakuru County, Kenya">
    <meta name="keywords" content="technical, vocational, tvet, nakuru, central rift, kiptaragon, college, excellent, kenya">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/topnav.css">
	<link rel="stylesheet" type="text/css" href="../css/contacts.css">
	<link rel="stylesheet" type="text/css" href="../css/about.css">
</head>
<body>
	<header id="header">
		<div class="container">
			<div id="branding">
				<img src="../img/logo-1.PNG" logo-left alt="logo">
				<div slogan>
					<h1>Kiptaragon Technical & Vocational College</h1>
					<p>Skill Development for Self Reliance</p>
				</div>
				
			</div>
			
		</div>
	</header>
	<section id="navigation">
		<nav>
			<div class="topnav" id="topnav_1">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html" class="active">About</a>
				<a href="../templates/admission.html">Admission</a>
				<div class="dropdown">
					<button class="dropbtn">Academic Departments
						<i class="dropdown-symbol"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/buildingconstruction.html">Building & Construction</a>
						<a href="../templates/businessdept.html">Business Studies</a>
						<a href="../templates/ict.html">ICT & Computer Studies</a>
						<a href="../templates/appliedsciences.html">Applied Sciences</a>
					</div>
				</div>
				<a href="../templates/downloads.html">Downloads</a>
				<a href="../templates/studentportal.html">Student Portal</a>
				<a href="../templates/contacts.html">Contacts</a>
				<!--
				<div class="search-container">
					<form action="index.html">
						<input type="text" name="search" placeholder="search ...">
						<button type="submit"><i class="search-field"></i> </button> 
					</form>
				</div> 
				-->
				<a href="javascript:void(0);" style="font-size: 15px;" class="icon" onclick="topNav()">Menu &#9776;</a>
			</div>
		</nav>
			
	</section>
	

<!-- 
-------MISSION, VISION CORE VALUES AND MOTTO------
--------------------------------------------------
 -->	
	<section id="boxes">
		<div class="container">
			<div contacts class="box content-box">
				<h1>ABOUT US</h1> <hr>
				<p>
					Kiptaragon Technical & Vocational College is a government institution which was established under the act of parliament in the Ministry of Education, Science & Technology - State Department of Technical Vocational Education Training TVET. It had its first intake in September 2019 and now we have student population of about 300. 
				</p>
				<p>
					Kiptaragon Technical is situated at Kuresoi South Constituency off Keringet – Olenguruone Main Road 3Km just before Olenguruone Town from Keringet on the right hand side
				</p>
				<p>
					The institution offer courses in Artisan, Certificate & Diploma in two main Departments namely;
					<ul>
						<li>Technical Department with two sections 
							<ol><li>Applied Science </li>
								<li>Building & Civil Engineering </li>
							</ol>
						</li>
						<li>Business Department with two sections
							<ol><li>ICT </li>
								<li>Business </li>
							</ol>
						</li>
					</ul>
				<p>
					The institution is governed with the guidance of TVET policies and its Vision, Mission and Core values as outlined below and embedded with Christian virtues.
				</p>

				<h2>Vision </h2>
				<p>
					To be a center of excellence in Technical and Vocational Education Training 
				</p>
				<h2>Mission </h2>
				<p>
					To promote and impact Vocational Competencies and entrepreneurial skills for socio-economic self-reliance 
				</p>
				
				<h2>Core Values </h2>
				<ul>
					<li>	Integrity </li>
					<li>	Team work </li>
					<li>	Transparency & Accountability </li>
					<li>	Innovation & Creativity </li>
					<li>	Health & Safety </li>
					<li>	Quality Services</li>
				</ul>
			</div>

		</div>
	</section>


	<footer>
		<p>
			&copy Copyright 2019. Kipataragon Technical and Vocational College.
		</p>

	</footer>

<script>

/*
Javascript code for dropdown menu
*/
topNav = ()=> {
  let x = document.getElementById("topnav_1");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


/*Javascript code for footer*/

	
	

</script>

</body>
</html>