<!DOCTYPE html>
<html>
<head>
	<title>Kiptaragon TVC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Technical and vocational institution offering skill development for self reliance, Nakuru County, Kenya">
    <meta name="keywords" content="technical, vocational, tvet, nakuru, central rift, kiptaragon, college, excellent, kenya">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/topnav.css">
	<link rel="stylesheet" type="text/css" href="../css/contacts.css">

</head>
<body>
	<header id="header">
		<div class="container">
			<div id="branding">
				<img src="../img/logo-1.PNG" logo-left alt="logo">
				<div slogan>
					<h1>Kiptaragon Technical & Vocational College</h1>
					<p>Skill Development for Self Reliance</p>
				</div>
				
			</div>
			
		</div>
	</header>
	<section id="navigation">
		<nav>
			<div class="topnav" id="topnav_1">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/admission.html">Administration</a>
				<div class="dropdown">
					<button class="dropbtn active">Academic Departments
						<i class="dropdown-symbol"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/buildingconstruction.html">Building & Construction</a>
						<a href="../templates/businessdept.html">Business Studies</a>
						<a href="../templates/ict.html">ICT & Computer Studies</a>
						<a href="../templates/appliedsciences.html">Applied Sciences</a>
					</div>
				</div>
				<a href="../templates/downloads.html">Downloads</a>
				<a href="../templates/studentportal.html">Student Portal</a>
				<a href="../templates/contacts.html">Contacts</a>
				<!--
				<div class="search-container">
					<form action="index.html">
						<input type="text" name="search" placeholder="search ...">
						<button type="submit"><i class="search-field"></i> </button> 
					</form>
				</div> 
				-->
				<a href="javascript:void(0);" style="font-size: 15px;" class="icon" onclick="topNav()">Menu &#9776;</a>
			</div>
		</nav>
			
	</section>
	

<!-- 
-------MISSION, VISION CORE VALUES AND MOTTO------
--------------------------------------------------
 -->	
	<section id="boxes">
		<div class="container">
			<div class="box department">
				<h1>Department of Business Studies </h1>
				<h2>HEAD OF DEPARTMENT – MR ROTICH PETER</h2><hr>
				<p> 
					The Business Studies Department works together with the other departments in order to provide, promote and coordinate the provision of quality education, training and research for the empowerment of individuals to become responsible and competent citizens who value education as a lifelong process for sustainable development. 
				</p>
				<p>
					These courses will enable the trainees to: acquire necessary knowledge, skills and attitude for the development of the self and the nation, understand business and its environment, appreciate the role of business in society, acquire necessary entrepreneurial knowledge, skills and attitude for starting and operating a business, appreciate tile need for ethical practice and efficient business management, understand the role of the government in relation to business activities. These are the courses under the department:
				</p>
				<ul>
					<li>Diploma in Accountancy </li>
					<li>Diploma in Social work & Community Development </li>
					<li>Diploma in Banking & Finance</li>
					<li>Diploma in Supplies Chain</li>
					<li>Certificate in Accountancy </li>
					<li>Certificate in Banking & Finance </li>
					<li>Certificate in Social Work & Community development </li>
					<li>Certificate in supplies chain management</li>
					<li>Certificate in sales and marketing</li>
					<li>Certificate in investment</li>
					<li>Certificate in Business Management</li>
					<li>Certificate in Human Resource Management</li>
					<li>Certificate in Cooperative management</li>
					<li>Certificate in Hairdressing </li>
					<li>Artisan in Hairdressing & Beauty Therapy</li>
				</ul>		
			</div>

		</div>
	</section>


	<footer>
		<p>
			&copy Copyright 2021. Kipataragon Technical and Vocational College.
		</p>

	</footer>

<script>

/*
Javascript code for dropdown menu
*/
topNav = ()=> {
  let x = document.getElementById("topnav_1");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


/*Javascript code for footer*/

	
	

</script>

</body>
</html>