<!DOCTYPE html>
<html>
<head>
	<title>Kiptaragon TVC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Technical and vocational institution offering skill development for self reliance, Nakuru County, Kenya">
    <meta name="keywords" content="technical, vocational, tvet, nakuru, central rift, kiptaragon, college, excellent, kenya">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/topnav.css">
	<link rel="stylesheet" type="text/css" href="../css/contacts.css">

</head>
<body>
	<header id="header">
		<div class="container">
			<div id="branding">
				<img src="../img/logo-1.PNG" logo-left alt="logo">
				<div slogan>
					<h1>Kiptaragon Technical & Vocational College</h1>
					<p>Skill Development for Self Reliance</p>
				</div>
				<!--
				<div class="search-container">
					<form action="index.html">
						<input type="text" name="search" placeholder="search ...">
						<button type="submit"><i class="search-btn">Go</i> </button> 
					</form>
				</div> 
				-->
			</div>
			
		</div>
	</header>
	<section id="navigation">
		<nav>
			<div class="topnav" id="topnav_1">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/admission.html">Admission</a>
				<div class="dropdown">
					<button class="dropbtn">Academic Departments
						<i class="dropdown-symbol"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/buildingconstruction.html">Building and construction</a>
						<a href="../templates/businessdept.html">Business Studies</a>
						<a href="../templates/ict.html">ICT & Computer Studies</a>
						<a href="../templates/appliedsciences.html">Applied Sciences</a>
					</div>
				</div>
				<a href="../templates/downloads.html">Downloads</a>
				<a href="../templates/studentportal.html">Student Portal</a>
				<a href="../templates/contacts.html" class="active">Contacts</a>
				<!--
				<div class="search-container">
					<form action="index.html">
						<input type="text" name="search" placeholder="search ...">
						<button type="submit"><i class="search-field"></i> </button> 
					</form>
				</div> 
				-->
				<a href="javascript:void(0);" style="font-size: 15px;" class="icon" onclick="topNav()">Menu &#9776;</a>
			</div>
		</nav>
			
	</section>
	

<!-- 
-------MISSION, VISION CORE VALUES AND MOTTO------
--------------------------------------------------
 -->	
	<section id="boxes">
		<div class="container">
			<div contacts class="box">
				<h1>Connect with us</h1>
				<p>
					Kiptaragon Technical and Vocational College<br>
					P.o. Box 175-20157 Olenguruone, Kenya<br><br>
					<span>Phone:</span> <br>0790568732 <br> 0750724092 <br><br>
					<span>Email:</span> <br> inf@kiptaragon.ac.ke
				</p>

				<p>
					<a href="#"><img src="../img/facebook.png" alt="Like us on Facebook"></a>
					<a href="#"><img src="../img/twitter.png" alt="Follow us on Twitter"></a>
				</p>
			</div>

		</div>
	</section>


	<footer>
		<p>
			&copy Copyright 2019. Kipataragon Technical and Vocational College.
		</p>

	</footer>

<script>

/*
Javascript code for dropdown menu
*/
topNav = ()=> {
  let x = document.getElementById("topnav_1");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


/*Javascript code for footer*/

	
	

</script>

</body>
</html>