<!DOCTYPE html>
<html>
<head>
	<title>Kiptaragon TVC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Technical and vocational institution offering skill development for self reliance, Nakuru County, Kenya">
    <meta name="keywords" content="technical, vocational, tvet, nakuru, central rift, kiptaragon, college, excellent, kenya">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/topnav.css">
	<link rel="stylesheet" type="text/css" href="../css/contacts.css">

</head>
<body>
	<header id="header">
		<div class="container">
			<div id="branding">
				<img src="../img/logo-1.PNG" logo-left alt="logo">
				<div slogan>
					<h1>Kiptaragon Technical & Vocational College</h1>
					<p>Skill Development for Self Reliance</p>
				</div>
				
			</div>
			
		</div>
	</header>
	<section id="navigation">
		<nav>
			<div class="topnav" id="topnav_1">
				<a href="../index.html">Home</a>
				<a href="../templates/about.html">About</a>
				<a href="../templates/admission.html">Administration</a>
				<div class="dropdown">
					<button class="dropbtn active">Academic Departments
						<i class="dropdown-symbol"></i>
					</button>
					<div class="dropdown-content">
						<a href="../templates/buildingconstruction.html">Building & Construction</a>
						<a href="../templates/businessdept.html">Business Studies</a>
						<a href="../templates/ict.html">ICT & Computer Studies</a>
						<a href="../templates/appliedsciences.html">Applied Sciences</a>
					</div>
				</div>
				<a href="../templates/downloads.html">Downloads</a>
				<a href="../templates/studentportal.html">Student Portal</a>
				<a href="../templates/contacts.html">Contacts</a>
				<!--
				<div class="search-container">
					<form action="index.html">
						<input type="text" name="search" placeholder="search ...">
						<button type="submit"><i class="search-field"></i> </button> 
					</form>
				</div> 
				-->
				<a href="javascript:void(0);" style="font-size: 15px;" class="icon" onclick="topNav()">Menu &#9776;</a>
			</div>
		</nav>
			
	</section>
	

<!-- 
-------ICT & COMPUTER STUDIES DEPARTMENT------
--------------------------------------------------
 -->	
	<section id="boxes">
		<div class="container">
			<div class="box department">
				<h1>ICT & COMPUTER STUDIES DEPARTMENT</h1>
				<!--<img src="/img/deptheads/c_s.jpg">-->
				<h2>HEAD OF DEPARTMENT: ROTICH PETER </h2><hr>
				<p>
					The ICT department's main objective is to equip staff and trainees with the necessary ICT skills, to be ICT compliant, to offer learning opportunities in education through Open and Distance Learning and to develop ICT instructional materials.
					Since the department recognizes the existence of youths, we are therefore in the business of mentoring this greatest asset. We recognize that in any country the world’s biggest innovators are the youth. ICT department deal with the youths and we have recognized the great potential these people have.
				</p>
				<p>
					The department also maintains the Local Area Network (LAN) and a wireless network to enhance internet connectivity. It also supports other departments in the College in their communication and ICT integration needs. ICT equipment such as laptops and LCD projectors are available for borrowing by the lecturers for use in class. 
				</p>
				<p>
					The following are courses in the department;
				</p>
				<ul>
					<li>Diploma in Computer Studies </li>
					<li>Diploma in ICT</li>
					<li>Certificate in Information Technology </li>
					<li>Certificate in library operation and information studies</li>
					<li>Certificate in clerical operation</li>
					<li>Certificate in project management</li>
				</ul><br>

			</div>

		</div>
	</section>


	<footer>
		<p>
			&copy Copyright 2021. Kipataragon Technical and Vocational College.
		</p>

	</footer>

<script>

/*
Javascript code for dropdown menu
*/
topNav = ()=> {
  let x = document.getElementById("topnav_1");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}


/*Javascript code for footer*/

	
	

</script>

</body>
</html>