<!DOCTYPE html>
<html>
<head>
	<title>Kiptaragon TVC</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <meta name="description" content="Technical and vocational institution offering skill development for self reliance, Nakuru County, Kenya">
    <meta name="keywords" content="technical, vocational, tvet, nakuru, central rift, kiptaragon, college, excellent, kenya">
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/topnav.css">
	<link rel="stylesheet" type="text/css" href="../css/studentportal.css">

</head>
<body>
	<header id="header">
		<div class="container">
			<div id="branding">
				<img src="../img/logo-1.PNG" alt="logo">
				<div slogan>
					<h1>Kiptaragon Technical & Vocational College</h1>
					<p>Skill Development for Self Reliance</p>
				</div>
			</div>
			
		</div>
	</header>
	<section id="navigation">
		<nav>
			<div class="topnav" id="topnav_1">
				<a href="../index.html" back-to-site >Back to Website?</a>
				<a href="#" contact-us>Contacts</a>
			</div>
		</nav>
			
	</section>
	<section class="form-title">
		<h2>Student Portal Register</h2>
	</section>

	<form method="POST" action="register.html">
		<div class="input-group">
			<label>First Name: </label>
			<input type="text" name="firstName" placeholder="First Name">
		</div>
		<div class="input-group">
			<label>Last Name: </label>
			<input type="text" name="lastName" placeholder="Last Name">
		</div>
		<div class="input-group">
			<label>Reg Number: </label>
			<input type="text" name="regNo" placeholder="Registration Number">
		</div>
		<div class="input-group">
			<label>Email: </label>
			<input type="text" name="email" placeholder="Email">
		</div>
		<div class="input-group">
			<label>Password: </label>
			<input type="password" name="Password_1" placeholder="Password">
		</div>
		<div class="input-group">
			<label>Confirm Password: </label>
			<input type="password" name="password_2" placeholder="Confirm Password">			
		</div>
		<div class="input-group">
			<button type="submit" name="register" class="btn">Submit</button>
		</div>
		<p>Already registered? <a href="studentlogin.html">Log in</a></p>
	</form>
	</section>

	<footer>
		<p>
			Kiptaragon TVC &copy2019
		</p>
	</footer>

<script>

/*
******Javascript code here**********
*************************************************
*/

</script>

</body>
</html>